###Tidegauge configuration file

#parameters

serial.port=/dev/ttyUSB0
serial.baud.rate=9600

data.average=240
data.format=3
data.decimals=2
latitude=12.483

station.code=pcrt
#if empty, the station will not be logging data
#log.path=/home/tide/log

server.endpoint=http://165.98.224.37/tide

#end parameters
